* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", serif;
    overflow-x: hidden;

}

.container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;
    padding: 25px;
    height: auto;

}

/* start header  */
header {
    background-image: url("../assets/imgs-catalog/BACK-DESC.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 15px;
    height: 80vh;
    position: relative;

}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .26);
}

.nav-bar li a {
    text-decoration: none;
}

.nav-bar ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.center-title {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.title {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-self: center;

}

.title h1 {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 3px;
    max-width: 100%;
    color: #1E1E1E;
    margin: auto;
}

.title h3 {
    letter-spacing: 1.4px;
    padding-bottom: 45px;
    color: #1E1E1E;

}

.button-header {
    border: 5px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    ;
    background-color: #2B1B12;
    color: white;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}


/* end header */
/* ------------------------------------------------------------------------------------------------------- */
/* <!-- start box --> */

.box-input {
    background-color: #DDC7BB;
    height: 140px;
    width: 100%;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -90px;
}

.box-input form input {
    border: none;
    border-radius: 8px;
    text-align: center;
    width: 240px;
    height: 40px;
    margin: 25px;
}

.box-input form button {
    border: none;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: #2B1B12;
    color: white;
    cursor: pointer;
}


/* <!-- end box --> */

/* start main  */
main {
    width: calc(70% + 150px);
    margin-right: auto;
    margin-left: auto;
}

.our-catalog {
    margin: 50px;
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 , auto);
    gap: 10px;
    margin-top: 10px;
}



.card {
    grid-column: span 1 ;
    grid-row: auto;
    background-color: #DBBBDD;
    border-radius: 18px;
    margin-bottom: 19px;
    color: #4F3527;
}

.card-img img{
    width: 100%;
    border-radius: 18px;
}
.title-icon {
    display: flex;
}

.title-icon img {
    margin: 8px;
}

.room-distance {
    display: flex;
    align-items: center;
    margin-left: 5px;


}

.room-distance img {
    margin: 5px;
    background-color: white;

}

.room-distance h3 {
    margin-right: 40px;
}

.button-price {
    width: 100%;
    display: flex;
    align-items: center;
}
.button-price button{
    margin-right: 140px;
    width: 98px;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: #2B1B12;
    color: white;
    cursor: pointer;


}
/* start last-box */
.last-box{
    width: 29vw;
    margin-inline: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;

}
.asking{
    text-align: center;
}
.form-last-box{
    width: 29vw;
    margin-left: -45px;
}
.last-box input {
    border: none;
    width: 20vw;
    border-radius: 8px;
    height: 40px;
    background-color: #DBBBDD;
    text-align: center;
}
/* .last-box form {
   
} */
.last-box button{
    border: none;
    border-radius: 8px;
    text-align: center;
    width: 95px;
    height: 40px;
    background-color: #2B1B12;
    color: white;
    cursor: pointer;
    position : absolute

}
.last-box input::placeholder{
    color: #4F3527;
    font-size: large;
}
/* END last box */
/* -------------------------------------------------------------------------------------- */
/* :start footer */
footer{
    background-color: #DBBBDD;
}
.container-footer{
    width: calc(70% + 150px);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 75px;
}
.desc-card{
    width: 250px;
    text-align: center;
    margin-top: 27px;
    color:#4F3527;

}
.card-footer ul {
    list-style-type: none;
    color:#4F3527;
    font-size: large;
}
.card-footer h2 {
    margin: 25px 0;
}
.card-social-media h2{
    margin: 25px 0;

}
.card-footer li {
    font-weight: 500;
    margin-bottom:20px;
}
.card-social-media div {
    display: flex;
    gap: 10px;
    margin: 15px 5px;
    
}

/* End footer */
/* End main  */