@media screen and (max-width: 768px) {
    .nav-bar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media  (max-width: 768px) {
    .nav-bar a {
        display: none;
    }
    .menu-links {
        position: absolute;
        top: 40px;
        right: 0;
     }

    
    .nav-bar.responsive {
        position: relative;

    }
    /* .nav-bar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    } */
    .nav-bar.responsive .menu-links {
        position: absolute;
        top: 50px;
        background-color: #dbbbdd;
        right: 0;
    }
    .nav-bar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  /* -------------------------END OF nav-bar -------------------------------------------------- */
  @media  (max-width: 768px) {
    .title h1 {
        font-weight: 600;
        font-size: 40px;
        letter-spacing: 3px;
        max-width: 100%;
        color: #1E1E1E;
        margin: auto;
    }
    
    .title h3 {
        letter-spacing: 1.4px;
        font-size: 20px;
        padding-bottom: 25px;
        color: #1E1E1E;
    
    }
    
    .button-header {
        width: 120px;
        height: 40px;
        border-radius: 8px;
        
        background-color: #2B1B12;
        color: white;
        cursor: pointer;
    }
    

}
/* ----------------------------------- end of description of the header------------------------------- */
@media  (max-width: 768px) {
    .box{
        display: none;
    }
    
}
/* -------------------------------------------------end of box ----------------------------------------- */
@media (max-width: 1024px) {
    .grid-section {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    }
}
@media (max-width: 768px) {
    .our-catalog {
        margin: 50px;
        font-size: small;
        font-weight: 500;
        text-align: center;
    }
    .grid-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Une seule colonne */
        gap: 10px;
        margin-top: 10px;
    }
    .card {
        grid-column: span 1;
        grid-row: auto;
        background-color: #DBBBDD;
        border-radius: 18px;
        margin-bottom: 19px;
        color: #4F3527;
        margin-inline: 55px;
    }
}
/* ----------------------------------------------end of grid section ------------------------------------------------------- */
@media  (max-width: 768px) {
    
    .last-box{
        width: 89vw;
        margin-inline: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        position: relative;
        text-align: center;
    
    }
    .asking{
        text-align: center;
    }
    .form-last-box{
        width: 29vw;
        margin-left: -45px;
        display: flex;
    }
    .last-box input {
        border: none;
        width: 50vw;
        border-radius: 8px;
        height: 40px;
        background-color: #DBBBDD;
        text-align: center;
        margin-left: 85px;
    }   
}
    /* --------------------------------------------------------END last box---------------------------------------------------- */
    @media  (max-width: 970px) {
        .desc-card{
            width: 100%;
            max-width: 100%;
        }
        .container-footer{
            flex-wrap: wrap;
            text-align: center;
            justify-content: space-evenly;
            gap: 0;
        } 
    }
    @media  (max-width: 780px) {
        .desc-card{
            width: 100%;
            max-width: 100%;
        }
        .card-footer,
        .card-social-media{
            width: 50%;
        }
        .container-footer{
            flex-wrap: wrap;
            text-align: center;
            justify-content: space-evenly;
        }
    
        .card-social-media div {
            justify-content: center;
            
        }
        
    }
    /* --------------------------------------------------------END of footer ----------------------------------------------------- */
